* {
    font-family: 'Fjalla One', sans-serif;
  }

#container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    text-align: center;
    
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 40px;
}

button {
    font-family: 'Bangers', cursive;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    border-color: orange;
    border-radius: 5px;
}

p {
    font-size: 20px;
}