* {
    font-family: 'Fjalla One', sans-serif;
    color: black;
  }

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;  
    margin: auto;
    width: 50%;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2vmin;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    margin-bottom: -15px;
}

h2 {
    font-size: 25px;
}

#topH2 {
    margin-bottom: 10px;
}

button {
    font-family: 'Bangers', cursive;
    padding: 15px;
    margin: 5px;
    font-size: 35px;
    border-radius: 5px;
    border: 3px solid orange;
}

p {
    font-size: 25px;
    text-align: center;
     
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 40px;
    }

    #topH2 {
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        padding: 10px;
        font-size: 30px;
    }
    
    p {
        font-size: 20px;
    }
}